
* {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

#database {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 400px;
    grid-gap: 10px;
}

.profile {
    max-width: 250px;
    margin-bottom: 40px;
}

.imgDiv {
    height: 130px;
}

.profileImg {
    border-radius: 40% 60% 40% 60%;
}

.profileName {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.profileEmail {
    color: #888888;
    padding-bottom: 5px;
}

.profileAdd1 {
    text-transform: capitalize;
}

.profileAdd2 {
    text-transform: capitalize;
}
