
* {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

#database {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 400px;
}

.profile {
    max-width: 250px;
    margin-bottom: 40px;
}

.profileImg {
    height: 130px;
}

.profileName {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 5px;
}

.profileEmail {
    color: #888888;
    padding-bottom: 5px;
}

.profileAdd1 {
    text-transform: capitalize;
}

.profileAdd2 {
    text-transform: capitalize;
}
